/target/
/data/
/deploy/temp/

data/ch06/test-users.txt

data/ch06/training-users.txt

data/ch07/all/

build/dist/yooreeka-2.3.jar

build/ant.test.log

deploy/lib/yooreeka-2.2.jar

target/

data/ch02/crawl-**/
data/crawls/

**/*.ser


.idea/

yooreeka.iml

build/dist/

deploy/lib/yooreeka-2.3.jar
